@font-face {
    font-family: 'Gordita';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Gordita-500';
    src: url(../fonts/OpenSans-Medium.ttf);
}

@font-face {
    font-family: 'Gordita-700';
    src: url(../fonts/OpenSans-Bold.ttf);
}


